
body {
    background-color:rgba(89, 20, 102, 0.882);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;



}

div.a {
    margin-right:35%;
    margin-left:35%;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    
    text-align: center;
    width:auto;
    height:70px;
    background:rgb(30, 25, 84);
    font-size:200%;

}

.navbar_border {
    border: 6px solid;
    border-color:rgb(30, 25, 84);
    border-bottom-color: rgba(22, 24, 124, 0.811);
    height:60px;

    

}


.tho {

    color: blueviolet;
    font-family: 'Lato', sans-serif;
}

.tho2 {

    color:deepskyblue;
    font-family: 'Raleway', sans-serif;

}

div.b {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 25%;
    margin-left: 25%;
}

div.c {
    text-align: right;
    font-family: 'Ubuntu', sans-serif;

}

.tho3 {
    color:darkmagenta;

}

.handlebars {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: orangered;
}

.hm{
    border: 4px solid rgba(22, 24, 124, 0.811);
    width:75%;
    display: inline-block;
    padding:60px;
    background: rgba(22, 24, 124, 0.811);
    z-index: 1

}

.hm2{
    border: 4px solid rgba(22, 24, 124, 0.811);
    width:75%;
    display: inline-block;
    padding:60px;
    background: rgba(22, 24, 124, 0.811);
    z-index: 1;

}


#animation1 {

    opacity: 0;
    visibility: hidden;
    animation: MyAni1 2s ease;
    visibility: visible;
    animation-delay: 3s;
    
    animation-fill-mode: forwards;

}

@keyframes MyAni1 {
    0%{opacity:0}
    100%{opacity:1}
    from{margin-left:50%}
    to{margin-right:25%}

}

#animation2 {

    opacity: 0;

    animation: MyAni2 2s ease;
    animation-delay: 1s;
    
    animation-fill-mode: forwards;

}

@keyframes MyAni2 {
    from{margin-left:5%}
    to{margin-right:25%}
    0%{opacity:0}
    100%{opacity:1}
}
