body {
    background-color:rgba(4, 6, 38, 0.882);
    text-align: center;
    font-family: 'Open Sans', sans-serif;



}

div.a {
    margin-right:35%;
    margin-left:35%;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    text-align: center;
    color:black;

}

.tho {

    color: blueviolet;
    font-family: 'Lato', sans-serif;
}

.tho2 {

    color:deepskyblue;
    font-family: 'Raleway', sans-serif;

}

div.b {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 25%;
    margin-left: 25%;
}

div.c {
    text-align: right;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 25%;
    margin-left: 25%;
}

.tho3 {
    color:darkmagenta;

}

.handlebars {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: orangered;
}